/*
    Document   : style
    Created on : 2011-08-03, 19:31:12
    Author     : Krzysiek F. / WNT GK ZHP
    Description: Purpose of the stylesheet follows.
*/

/***********************/
/****** MAIN PART ******/
/***********************/

body {
  text-align:left;
  position:relative;
  padding:0;
  font-family:"Tahoma",serif;
  font-size:12px;
  background:#fff;
  margin:0 20px 20px;
}
select,input,textarea {
  font-size:99%;
}

form {
  margin:0;
  padding:0;
}

img {
  border:0;
  margin:0;
}

#left {
  float:left;
  margin-top:5px;
  width:180px;
  position:relative;
  z-index:100;
}

#wrapper {
  width:900px;
  margin:0 auto 0 auto;
  padding:0;
}

h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
  color: #7CA800;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size: 14px;
}

h2 {
  margin: 10px 0 5px 0;
  font-size: 13px;
}

#right {
  width:180px;
  float:right;
  display:table;
  margin-top:5px;
  z-index:100;
  position: relative;
  left: -1px;
}

#main {
  width:519px;
  margin-top:5px;
  margin-left:179px;
  border:1px solid #dadada;
  min-height:200px;
  padding:10px;
  position:relative;
}

.inside {
  position:relative;
  text-align:left;
}

.block {
  overflow:hidden;
}

.clear,#clear {
  height:0.1px;
  font-size:0.1px;
  line-height:0.1px;
  clear:both;
}

.invisible {
  width:0;
  height:0;
  left:-1000px;
  top:-1000px;
  position:absolute;
  overflow:hidden;
  display:inline;
}

.custom {
  display:block;
  text-align:left;
}

.custom:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

a {
  color:#7ca800;
  text-decoration:none;
}

a:hover {
  color:#7ca800;
  text-decoration:underline;
}

/***********************/
/****** HEADER *********/
/***********************/

#header .zhp_baner {
  float: left;
  margin-top: 20px;
}

#header .right_side {
  width: 260px;
  height: 107px;
  float: right;
}

#header .top_menu a {
  text-align: right;
  font-size: 10px;
  color: #A6A6A6;
  margin: 5px 8px 0 0;
  text-decoration: none;
}

#header .top_menu a:hover {
 color: black;
}

#header .adr {
  width: 140px;
  height: 65px;
  float: left;
  margin-top: 10px;
  font-size: 11px;
  color: #A6A6A6;
  line-height: 13px;
}

#header .adr2 {
  width: 110px;
  height: 65px;
  float: right;
  margin: 10px 0 0 0;
  font-size: 11px;
  color: #848484;
  line-height: 13px;
}

#header .adr h6, #header .adr2 h6 {
  font-weight:700;
  font-size:12px;
  color:#7ca800;
  margin:0 0 3px;
}


/***********************/
/****** FOOTER *********/
/***********************/

#footer {
  height:60px;
  clear:both;
  margin-top:20px;
  border-top:3px solid #7ca800;
  font-size:10px;
  color:#a6a6a6;
}

#footer .footer-left,#footer .footer-right {
  width:300px;
}

#footer .footer-left {
  float:left;
}

#footer .footer-right {
  float:right;
  text-align:right;
}

/***********************/
/**** ARTICLES *********/
/***********************/

.article {
  margin:1em 0 1em 0;
  /*padding:0 30px 1em 0;*/
  color:#505050;
}

.article .header h2 {
  margin: 10px 0 5px 0;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: #7CA800;
}

.article .links {
  display: block;
  text-align: right;
  font-size: 11px;
  float:right;
}

ul.primary li a {
  background:none !important;
  border:none !important;
}

ul.primary li.active a {
  font-weight:bold;
}

ul.primary {
  border: none !important;
  position: absolute;
  right: 10px;
  font-size:11px
}

.article-content p {
  font-size: 11px;
}

/***********************/
/***** BLOCKS **********/
/***********************/

.region-right-sidebar section, .region-after-left section {
  padding:0 10px 0 10px;
}

.region-right-sidebar section h2, .region-after-left section h2 {
  color:black;
  font-size:12px;
}