.region-sidebar-second {
  margin-left: 0;
}

.menu {
  list-style: none;
  margin:0;
  padding:0;
}

.menu * {
  margin:0;
  padding:0;
}

ul.menu li {
    margin:0 0 0 0;
}

li.expanded, li.collapsed, li.leaf {
    margin:0 0 0 0;
    padding:0 0 0 0;
}

#left .menu li a {
    width: 168px;
    display: block;
    margin: 3px 0 0 0;
    padding: 0 0 0 10px;
    text-align: left;
    border: 1px solid #DADADA;
    text-decoration: none;
    line-height: 25px;
    color: #565656;
}

#left .menu .menu li a {
    width: 158px;
    display: block;
    margin: 3px 0 0 0;
    padding: 0 0 0 20px;
    text-decoration: none;
    font-size: 11px;
    color: #A6A6A6;
    line-height: 20px;
    border:none;
}

#left .menu li a:hover {
    color:#7CA800;
}

#left .menu a.active {
    border-right:1px solid white;
    font-weight: bold;
    color: black;
}

#left .menu .menu a.active{
    width: 158px;
    min-height: 25px;
    line-height: 25px;
    margin: 3px 0 0 0;
    padding: 0 0 0 20px;
    background: #FFFFFF;
    font-size: 11px;
    color: #A6A6A6;
    border: 1px solid #DADADA;
    border-right: 1px solid white;
}

#right .menu li a {
    width: 168px;
    display: block;
    margin: 3px 0 0 0;
    padding: 0 0 0 10px;
    text-align: left;
    border: 1px solid #DADADA;
    text-decoration: none;
    line-height: 25px;
    color: #565656;
}

#right .menu .menu li a {
    width: 158px;
    display: block;
    margin: 3px 0 0 0;
    padding: 0 0 0 20px;
    text-decoration: none;
    font-size: 11px;
    color: #A6A6A6;
    line-height: 20px;
    border:none;
}

#right .menu li a:hover {
    color:#7CA800;
}

#right .menu a.active {
    border-left: 1px #FFFFFF solid;
    font-weight: bold;
    color: black;
}

#right .menu .menu a.active{
    width: 158px;
    min-height: 25px;
    line-height: 25px;
    margin: 3px 0 0 0;
    padding: 0 0 0 20px;
    background: #FFFFFF;
    font-size: 11px;
    color: #A6A6A6;
    border: 1px solid #DADADA;
    border-left: 1px solid white;
}

#right .menu > .first, #left .menu > .first {
    margin: 15px 0 0 0;
}

#right .menu .menu .first, #left .menu .menu .first{
    margin: 5px 0 0 0;
}